:root {
  --es-navy-bg: #041a71;
  --es-navy-txt: #001e6f;
}
@font-face {
  font-family: 'One Night Sans Extended Thin';
  src: 
  url(../fonts/OneNightSans-ExtendedThin.woff) format('woff'),
  url(../fonts/OneNightSans-ExtendedThin.woff2 ) format('woff2');
}
@font-face {
  font-family: 'One Night Sans Extended';
  src: 
  url(../fonts/OneNightSans-Extended.woff) format('woff'),
  url(../fonts/OneNightSans-Extended.woff2 ) format('woff2');
}
@font-face {
  font-family: 'One Night Sans Extended Black';
  src: 
  url(../fonts/OneNightSans-ExtendedBlack.woff) format('woff'),
  url(../fonts/OneNightSans-ExtendedBlack.woff2 ) format('woff2');
}
@font-face {
  font-family: 'One Night Sans Thin';
  src: 
  url(../fonts/OneNightSans-Thin.woff) format('woff'),
  url(../fonts/OneNightSans-Thin.woff2 ) format('woff2');
}
@font-face {
  font-family: 'One Night Sans Medium';
  src: 
  url(../fonts/OneNightSans-Medium.woff) format('woff'),
  url(../fonts/OneNightSans-Medium.woff2 ) format('woff2');
}
@font-face {
  font-family: 'One Night Sans Black';
  src: 
  url(../fonts/OneNightSans-Black.woff) format('woff'),
  url(../fonts/OneNightSans-Black.woff2 ) format('woff2');
}

/*********************************************************************/
/***************************** animations ***************************/
/*********************************************************************/

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-10%, -50%) rotate(30deg);
            transform: translate(-10%, -50%) rotate(30deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-10%, -50%) rotate(30deg);
            transform: translate(-10%, -50%) rotate(30deg);
  }
}

@-webkit-keyframes point {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes point {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes point-horizontal {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes point-horizontal {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*********************************************************************/
/***************************** main styles ***************************/
/*********************************************************************/

#es-durex.es-durex {
  font-family: 'One Night Sans Extended', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  max-width: 959px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: var(--es-navy-txt);
  background: #fff;
}

#es-durex.es-durex html, body, div, section {
  margin: 0;
  padding: 0;
}

/***************************** kv styles ***************************/

#es-durex.es-durex .es-kv {
  position: relative;
}

#es-durex.es-durex .es-kv__container {
  background-image: url("../img/bg.png");
  padding: 3rem;
}

#es-durex.es-durex .es-kv__title {
  font-family: 'One Night Sans Extended', sans-serif;
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: var(--es-navy-txt);
  margin-bottom: 2rem;
}

#es-durex.es-durex .es-kv__title--second {
  font-family: 'One Night Sans Extended Thin', sans-serif;
}

#es-durex.es-durex .es-kv__packshot {
  position: relative;
}

#es-durex.es-durex .es-kv__packshot:hover .es-kv__img-durex {
  -webkit-transform: translate(5%, -47%) rotate(30deg);
          transform: translate(5%, -47%) rotate(30deg);
}

#es-durex.es-durex .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
 
}

#es-durex.es-durex .es-kv__img-packshot {
  position: relative;
  z-index: 2;
}

#es-durex.es-durex .es-kv__img-durex {
  position: absolute;
  top: 50%;
  left: 55%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#es-durex.es-durex .es-kv__img-photo {
  width: 100%;
}


@media (min-width: 768px) {
  #es-durex.es-durex .es-kv__container {
    max-width: 100%;
    position: relative;
    z-index: 2;
    background-image: url("../img/kv-desktop.png");
    background-size: cover;
    background-position: center;
    min-height: 340px;
    padding: unset;
  }
  #es-durex.es-durex .es-kv__title {
    font-size: 38px;
    position: absolute;
    top: 11%;
    right: 2%;
    width: 8ch;
    text-align: left;
    margin-bottom: unset;
  }
  #es-durex.es-durex .es-kv__title--second {
    font-size: 30px;
    margin-left: -2ch;
  }
  #es-durex.es-durex .es-kv__packshot {
    position: absolute;
    left: 49%;
    top: 83%;
    transform: translate(-50%,-50%);
  }
  #es-durex.es-durex .es-kv__img {
    max-width: 230px;
  }

  #es-durex.es-durex .es-kv__photo {
    display: none;
  }
}

/***************************** features styles ***************************/
#es-durex.es-durex .es-features {
  padding: 2rem;
  background-image: url("../img/bg.png");
  background-size: cover;
}


#es-durex.es-durex .es-features__feature {
  padding: 16px 0 48px 0;
  opacity: 0;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
#es-durex.es-durex .es-features__feature.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#es-durex.es-durex .es-features .es-feature__img {
  max-width: 100%;
  max-height: 80px;
  display: block;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#es-durex.es-durex .es-features .es-feature__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#es-durex.es-durex .es-features .es-feature__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  margin: 24px 0;
  font-size: clamp(0.875rem, 0.7917rem + 0.3704vw, 1.125rem);
  text-align: center;
  text-transform: uppercase;
  font-family: "One Night Sans Thin";
}

#es-durex.es-durex .es-features .es-feature__text--bold {
  display: block;
  font-family: 'One Night Sans Extended Black', sans-serif;
}
@media (min-width: 768px) {
  #es-durex.es-durex .es-features {
    min-height: 310px;
    display: flex;
  }
  #es-durex.es-durex .es-features__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: center;
    height: 100%;
    width: 100%;
    align-self: center;
  }

  #es-durex.es-durex .es-features__feature {
    padding: unset;
  }
  #es-durex.es-durex .es-features .es-feature__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #es-durex.es-durex .es-features .es-feature__img {
    max-height: 110px;
  }
  #es-durex.es-durex .es-features .es-feature__text {
    margin-bottom: 0;
    font-size: 16px;
  }
}

/***************************** slider styles ***************************/
#es-durex.es-durex .es-slider .es-carousel-container {
  position: relative;
  width: 100%;
}

#es-durex.es-durex .es-slider .es-carousel {
  display: flex;
  overflow: hidden;
  width: 300%;
  transition: transform 0.3s ease-in-out;
}

#es-durex.es-durex .es-slider .es-slide {
  flex: 0 0 33.3333%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/img/slider-bg.png);
  background-size: cover;
}
#es-durex.es-durex .es-slider .es-slide__img {
  max-width: 100%;
}
#es-durex.es-durex .es-slider .es-slide__container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-inline: 4rem;
}
#es-durex.es-durex .es-slider .es-slide__title {
  font-family: "One Night Sans Extended Black", sans-serif;
  text-transform: uppercase;
  font-size: clamp(1.375rem, 0.9583rem + 1.8519vw, 2.625rem);
}
#es-durex.es-durex .es-slider .es-slide__text {
  font-family: "One Night Sans Medium", sans-serif;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.7917rem + 0.3704vw, 1.125rem);
}
#es-durex.es-durex .es-slider .es-slide__text--smaller {
  font-family: "One Night Sans Medium", sans-serif;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 0.6667rem + 0.3704vw, 1rem);
}
#es-durex.es-durex .es-slider .es-carousel-arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#es-durex.es-durex .es-slider .es-prev-arrow,
#es-durex.es-durex .es-slider .es-next-arrow {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 10px;
}
#es-durex.es-durex .es-slider .es-prev-arrow {
  width: 50px;
  height: 50px;
  rotate: 180deg;
}
#es-durex.es-durex .es-slider .es-next-arrow {
  width: 50px;
  height: 50px;
}
#es-durex.es-durex .es-slider .es-prev-arrow:hover,
#es-durex.es-durex .es-slider .es-next-arrow:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  #es-durex.es-durex .es-slider .es-carousel {
    width: 300%;
  }
  #es-durex.es-durex .es-slider .es-slide {
    flex: 0 0 33.3333%;
    width: 100vw;
    flex-direction: row;
  }

  #es-durex.es-durex .es-slider .es-slide__container {
    padding-inline: 0rem 4rem;
  }
}

/***************************** benefits styles ***************************/

#es-durex.es-durex .es-benefits {
  padding: 45px 16px;
  background-color: var(--es-navy-bg);
}


#es-durex.es-durex .es-benefits__title {
  font-family: "One Night Sans Extended Thin", sans-serif;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-size: clamp(1.375rem, 0.8333rem + 2.4074vw, 3rem);
  text-align: center;
  margin: 16px 0;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0;
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#es-durex.es-durex .es-benefits__title.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#es-durex.es-durex .es-benefits__title--strong {
  font-family: 'One Night Sans Extended Black', sans-serif;
  display: block;
}



#es-durex.es-durex .es-benefits__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#es-durex.es-durex .es-benefits__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-durex.es-durex .es-line {
  display: none;
}

#es-durex.es-durex .es-benefits__benefit {
  font-family: 'One Night Sans Extended Black', sans-serif;
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#es-durex.es-durex .es-benefits__benefit.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@media (min-width: 768px) {
  #es-durex.es-durex .es-benefits {
    padding-bottom: 0;
  }
  #es-durex.es-durex .es-benefits__container {
   position: relative;
   overflow: hidden;
   
  }
  #es-durex.es-durex .es-benefits__img {
    margin-bottom: -95px;
    margin-top: 50px;
    scale: 1;
    transition: all ease-in-out 200ms;
  }
  #es-durex.es-durex .es-benefits__img:hover {
    scale: 1.05;
  }
  #es-durex.es-durex .es-benefits__benefit {
    position: absolute;
    transform: translate(-50%, 0);
    scale: 1;
    transition: all ease-in-out 300ms;
  }
  #es-durex.es-durex .es-benefits__benefit:hover {
    scale: 1.1;
  }
  #es-durex.es-durex .es-line {
    display: block;
  }
  #es-durex.es-durex .es-benefits__benefit:nth-of-type(1) {
    top: 20%;
    left: 25%;
  }
  .es-line--1 {
    position: absolute;
    width: 71px;
    border-bottom: 2px solid #FFF;
    transform: rotate(52deg);
    top: 29%;
    left: 39%;
  }
  #es-durex.es-durex .es-benefits__benefit:nth-of-type(2) {
    top: calc(50% - 1em);
    left: 9%;
    text-align: right;
    width: 11ch;
  }
  .es-line--2 {
    position: absolute;
    width: 93px;
    border-bottom: 2px solid #FFF;
    transform: rotate(19deg);
    top: 50%;
    left: 36%;
  }
  #es-durex.es-durex .es-benefits__benefit:nth-of-type(3) {
    top: 77%;
    left: 5%;
    text-align: right;
    width: 14ch;
  }
  .es-line--3 {
    position: absolute;
    width: 63px;
    border-bottom: 2px solid #FFF;
    transform: rotate(346deg);
    top: 72%;
    left: 38%;
  }
  #es-durex.es-durex .es-benefits__benefit:nth-of-type(4) {
    top: calc(20% - 1em);
    right: 13%;
    width: 10ch;
    text-align: left;
  }
  .es-line--4 {
    position: absolute;
    width: 90px;
    border-bottom: 2px solid #FFF;
    transform: rotate(347deg);
    top: 18%;
    right: 38%;
  }
  #es-durex.es-durex .es-benefits__benefit:nth-of-type(5) {
    top: 49%;
    right: 5%;
  }
  .es-line--5 {
    position: absolute;
    width: 98px;
    border-bottom: 2px solid #FFF;
    transform: rotate(348deg);
    top: 50%;
    right: 34%;
  }
  #es-durex.es-durex .es-benefits__benefit:nth-of-type(6) {
    top: 77%;
    right: 3%;
    text-align: left;
    width: 15ch;
  }
  .es-line--6 {
    position: absolute;
    width: 56px;
    border-bottom: 2px solid #FFF;
    transform: rotate(0deg);
    top: 74%;
    right: 39%;
  }
}
@media (min-width: 870px) {
  #es-durex.es-durex .es-line--1 {
    width: 104px;
    transform: rotate(39deg);
    top: 30%;
    left: 38%;
  }
  #es-durex.es-durex .es-line--2 {
    width: 140px;
    transform: rotate(13deg);
    top: 50%;
    left: 32%;
  }
  #es-durex.es-durex .es-line--3 {
    width: 127px;
    transform: rotate(354deg);
    top: 74%;
    left: 33%;
  }
  #es-durex.es-durex .es-line--4 {
    width: 146px;
    transform: rotate(353deg);
    top: 18%;
    right: 34%;
  }
  #es-durex.es-durex .es-line--5 {
    width: 164px;
    transform: rotate(354deg);
    top: 50%;
    right: 29%;
  }
  #es-durex.es-durex .es-line--6 {
    width: 128px;
    transform: rotate(0deg);
    top: 78%;
    right: 33%;
  }
}















#es-durex.es-durex .es-faq {
  margin: 45px 0;
}

#es-durex.es-durex .es-faq__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  margin: 24px 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}

#es-durex.es-durex .es-faq__title strong {
  font-weight: 800;
}

#es-durex.es-durex .es-faq__container {
  padding: 0 16px;
  position: relative;
  z-index: 2;
}

#es-durex.es-durex .es-faq__single {
  background: #fff;
  position: relative;
  margin: 8px 0;
  padding: 24px 16px 24px 24px;
  border: none;
  border-radius: 16px;
  -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}

#es-durex.es-durex .es-faq__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#es-durex.es-durex .es-faq__question {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 800;
  max-width: 83.33333%;
}

#es-durex.es-durex .es-faq__arrow {
  border: none;
  background: none;
  cursor: pointer;
  outline: #005baa;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#es-durex.es-durex .es-faq__arrow--open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#es-durex.es-durex .es-faq__content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#es-durex.es-durex .es-faq__content--open {
  margin-top: 16px;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#es-durex.es-durex .es-faq__text {
  margin: 0 0 16px 0;
  padding: 0;
  line-height: 1.25;
  font-size: 14px;
  font-weight: 200;
}

#es-durex.es-durex .es-cross {
  margin: 45px 0 0 0;
}

#es-durex.es-durex .es-cross__content {
  padding: 45px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#1d174f));
  background: linear-gradient(#000000, #1d174f);
}

#es-durex.es-durex .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
}

#es-durex.es-durex .es-cross__title strong {
  font-weight: 800;
}

#es-durex.es-durex .es-cross__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0;
  text-decoration: none;
}

#es-durex.es-durex .es-cross__product:last-child {
  margin-bottom: 0;
}

#es-durex.es-durex .es-cross__packshot {
  margin: 24px 0 -24px 0;
}

#es-durex.es-durex .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#es-durex.es-durex .es-cross__img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#es-durex.es-durex .es-cross__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 200;
}

#es-durex.es-durex .es-cross__text strong {
  font-weight: 800;
}

#es-durex.es-durex .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  margin: 0;
  background-color: #fff;
  padding: 12px 15px;
  text-decoration: none;
  color: #005baa;
  font-weight: 800;
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 1.2;
  text-transform: uppercase;
  border: none;
  border-radius: 32px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 2px solid #fff;
}

#es-durex.es-durex .es-cross__link:hover {
  background-color: #005baa;
  color: #fff;
}

#es-durex.es-durex .es-add {
  padding: 45px 0;
  background: #005baa;
}

#es-durex.es-durex .es-add__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 200;
}

#es-durex.es-durex .es-add__title strong {
  font-family: 'Barlow Condensed', sans-serif;
}

#es-durex.es-durex .es-add__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0;
  text-decoration: none;
}

#es-durex.es-durex .es-add__product:last-child {
  margin-bottom: 0;
}

#es-durex.es-durex .es-add__packshot {
  margin: 24px 0 -24px 0;
}

#es-durex.es-durex .es-add__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#es-durex.es-durex .es-add__img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#es-durex.es-durex .es-add__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 200;
}

#es-durex.es-durex .es-add__text strong {
  font-weight: 800;
}

#es-durex.es-durex .es-add__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  margin: 0;
  background-color: #fff;
  padding: 12px 15px;
  text-decoration: none;
  color: #005baa;
  font-weight: 800;
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 1.2;
  text-transform: uppercase;
  border: none;
  border-radius: 32px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 2px solid #fff;
}

#es-durex.es-durex .es-add__link:hover {
  background-color: #005baa;
  color: #fff;
}

#es-durex.es-durex .es-footer {
  background-color: #005baa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px;
}

#es-durex.es-durex .es-footer__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-durex.es-durex .es-footer__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  padding-left: 16px;
}

#es-durex.es-durex .es-footer__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

@media screen and (min-width: 768px) {



  
  #es-durex.es-durex .es-faq__title {
    font-size: 48px;
  }
  #es-durex.es-durex .es-cross {
    padding: 45px;
    background: url(https://www.ros.net.pl/Portals/0/rich-content/durex/5052197004984/assets/cross-bg.png) no-repeat center/100% 100%;
  }
  #es-durex.es-durex .es-cross__content {
    border-radius: 250px;
    padding: 8px 45px 24px 45px;
  }
  #es-durex.es-durex .es-cross__title {
    font-size: 45px;
  }
  #es-durex.es-durex .es-cross__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #es-durex.es-durex .es-cross__product {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    margin: 0;
    margin-top: -16px;
  }
  #es-durex.es-durex .es-cross__product:not(:last-child) {
    margin-right: 16px;
  }
  #es-durex.es-durex .es-add {
    background: none;
    padding: 45px;
    position: relative;
  }
  #es-durex.es-durex .es-add__content {
    border-radius: 250px;
    padding: 24px 45px 24px 45px;
    background-color: #005baa;
    position: relative;
  }
  #es-durex.es-durex .es-add__stripes {
    position: absolute;
    top: 0;
    bottom: -45px;
    left: -45px;
    right: -45px;
    background: url(https://www.ros.net.pl/Portals/0/rich-content/durex/5052197004984/assets/add-bg.png) no-repeat center bottom;
    z-index: 0;
    opacity: 0.1;
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  #es-durex.es-durex .es-add__title {
    font-size: 48px;
    color: #005baa;
    margin-bottom: 16px;
  }
  #es-durex.es-durex .es-add__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    z-index: 2;
  }
  #es-durex.es-durex .es-add__product {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    margin-top: -16px;
  }
}


